<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css" media="all">
      dl {
        overflow: hidden;
        margin: 0;
      }
      dt {
        font-weight: bold;
        float: left;
        clear: left;
        width: 10em;
        margin: 0 0 .25em;
      }
      dd {
        width: auto !important;
        margin: 0;
        float: left;
      }
      dl.items, dl.inventory_items, dl.shipping_address, dl.billing_address,
      dl.special_instructions dt, dl.items dt, dl.inventory_items dt, dl.shipping_address dt, dl.billing_address dt,
      dl.special_instructions dd, dl.items dd, dl.inventory_items dd, dl.shipping_address dd, dl.billing_address dd,
      dl.franchisee-name dt, dl.franchisee-phone dt, dl.franchisee-fax dt, dl.franchisee-web dt,
      dl.franchisee-name dd, dl.franchisee-phone dd, dl.franchisee-fax dd, dl.franchisee-web dd{
        clear: both; float: none; width: 100%;
      }
      dl.special_instructions, dl.job_total {width: 55%; margin-top: 2em; float: left;}
      dl.job_total dt {text-align: left;}
      dl.ship_date {margin-top: 1em;}
      dl.job_total {margin: 1.5em 0;}
      dl.inventory_items {margin-bottom: 5em;}
      dl.franchisee-name, dl.franchisee-phone, dl.franchisee-fax, dl.franchisee-web {
        float: left;
        width: 25%;
        text-align: right;
        margin-top: 1em;
      }
      table {width: 100%; border-collapse: collapse;}
      td, th {border: 1px solid #ccc; padding: .1em .25em;}
      th {background-color: #aaa;}
      /* tr:nth-child(odd)   { background-color:#eee; } */

      #header-leftcol {float: left; width: 55%;}
      #header-rightcol {float: right; width: 45%;}

      .clear {clear: both;}
      .left50 {float: left; width: 50%;}
      .right50 {float: right; width: 50%;}
    </style>

    <style type="text/css" media="print">
      #quote-title {text-align: center;}
      #quote-footer {font-size: .9em;}
      #print-logo {float: left;}
      body {
        background-color: white;
        color: black;
        font: 9pt/12pt Arial, Helvetica, sans-serif;
      }
      a {color: black; text-decoration: none;}
      #auth_nav, #nav, #local_nav {display: none;}
      table.item_table td.item_purchase_part_id,
      table.item_table th.item_purchase_part_id {
        display: none;
      }
      div.inventory_items_empty {display: none;}
    </style>
  </head>
  <body>
    <p id="quote-title">ORDER CONFIRMATION</p>

    <div id="header-leftcol">
      <img id="print-logo" src="/images/Premier Logo.jpg" />
      <div class="left50 clear">
        <dl class="billing_address">
          <dt>Bill To</dt>
          <dd>
            <%= @job.franchisee.franchise_name -%>
            <% @job.bill_to.each do |addr| %>
              <br/><%= addr.address1 -%>
              <% if addr.address2 %>
                <br/><%= addr.address2 -%>
              <% end %>
              <br/><%= addr.city -%>, <%= addr.state -%> <%= addr.postal_code -%>
            <% end %>
          </dd>
        </dl>
      </div>
      <div class="right50">
        <dl class="shipping_address">
          <dt>Ship To</dt>
          <dd>
            <%= @job.franchisee.franchise_name -%>
            <% @job.ship_to.each do |addr| %>
              <br/><%= addr.address1 -%>
              <% if addr.address2 %>
                <br/><%= addr.address2 -%>
              <% end %>
              <br/><%= addr.city -%>, <%= addr.state -%> <%= addr.postal_code -%>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>

    <div id="header-rightcol">
      <dl class="job_number">
        <dt><%= label :job, :job_number %></dt>
        <dd><%= @job.job_number -%></dd>
      </dl>

      <dl class="job_name">
        <dt><%= label :job, :name %></dt>
        <dd><%= @job.name -%></dd>
      </dl>

      <dl class="mfg_plant">
        <dt><%= label :job, :mfg_plant %></dt>
        <dd><%= @job.mfg_plant -%></dd>
      </dl>

      <dl class="due_date">
        <dt><%= label :job, :due_date %></dt>
        <dd><%= @job.due_date %></dd>
      </dl>

      <dl class="ship_date">
        <dt><%= label :job, :ship_date %></dt>
        <dd><%= @job.ship_date %></dd>
      </dl>

      <dl class="ship_method">
        <dt><%= label :job, :ship_method %></dt>
        <dd><%= @job.ship_method %></dd>
      </dl>

      <dl class="tracking_number">
        <dt><%= label :job, :tracking_number %></dt>
        <dd><%= @job.tracking_number %></dd>
      </dl>
    </div>

    <dl class="special_instructions">
      <dt><%= label :job, :comment %></dt>
      <dd><%= @job.comment -%></dd>
    </dl>

    <dl class="job_total">
      <dt><%= label :job, :total %></dt>
      <dd><%= "$%.2f" % @job.total -%><br/></dd>
    </dl>

    <dl class="items">
      <dt>Manufactured Items ($<%= "%0.2f" % @job.total{|i| i.purchasing_type? 'Manufactured'} %>)</dt>
      <dd><%= render :partial => 'jobs/items_table', :locals => {:job_items => @job.job_items.order('tracking_id').select{|i| i.purchasing_type? 'Manufactured'}} %></dd>
    </dl>
    
    <dl class="items">
      <dt>Purchased, Buyout &amp; Other Items ($<%= "%0.2f" % @job.total{|i| i.purchasing_type? 'Purchased', 'Buyout', '(unavailable)'} %>)</dt>
      <dd><%= render :partial => 'jobs/items_table', :locals => {:job_items => @job.job_items.order('tracking_id').select{|i| i.purchasing_type? 'Purchased', 'Buyout', '(unavailable)'}} %></dd>
    </dl>

    <div class="inventory_items<%= @job.inventory_items.empty? ? " inventory_items_empty" : "" %>">
      <p id="inventory-items">THE FOLLOWING INVENTORY ITEMS ARE REQUIRED BUT NOT INCLUDED WITH THIS ORDER:</p>
      <dl class="inventory_items">
        <dt>Inventory Items ($<%= "%0.2f" % @job.inventory_items_total %>)</dt>
        <dd><%= render :partial => 'jobs/items_table', :locals => {:job_items => @job.inventory_items} %></dd>
      </dl>
    </div>

    <hr />

    <div id="quote-footer">
      <dl class="franchisee-name">
          <dt>PremierGarage Systems</dt>
      </dl>

      <dl class="franchisee-phone">
        <dt>Toll Free: 866-761-8981</dt>
        <dd></dd>
      </dl>

      <dl class="franchisee-fax">
        <dt>Fax: 480.483.3795</dt>
        <dd></dd>
      </dl>

      <dl class="franchisee-web">
        <dt>www.premiergarage.com</dt>
        <dd></dd>
      </dl>
    </div>
  </body>
</html>
