<table>
  <tr>
    <th>Order Name</th>
    <th>SO #</th>
    <th>Due Date</th>
    <th>Status</th>
  </tr>
  <% jobs.each do |job| %>
    <tr>
      <td><%= link_to job.name, job_path(job) %></td>
      <td><%= job.job_number %></td>
      <td><%= job.due_date %></td>
      <% if can? :manage, job %>
        <td style="white-space: nowrap;">
            Status:      <%= job_status_select(job) %><br/>
            Batch:&nbsp; <%= job_production_batch_select(job) %>
        </td>
      <% else %>
        <td><%= job.status %></td>
      <% end %>
    </tr>
  <% end %>
</table>

