<%= render 'form_js' %>

<%= form_for @job, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form_errors' %>
  <div class="form_fields">
    <dl>
      <dt><%= f.label :franchisee %></dt>
      <dd><%= collection_select(:job, :franchisee_id, @franchisees, :id, :franchise_name) %></dd>
      <dt><%= f.label :primary_contact %></dt>
      <dd><%= collection_select(:job, :primary_contact_id, Option.new(@job.franchisee).map{|v| v.users}.orSome([]), :id, :name) %></dd>
      <dt><%= f.label :shipping_address %></dt>
      <dd><%= collection_select(:job, :shipping_address_id, @addresses, :id, :single_line) %></dd>
      <dt><%= f.label :billing_address %></dt>
      <dd><%= collection_select(:job, :billing_address_id, @addresses, :id, :single_line) %></dd>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>
      <% if can? :manage, @job %>
        <dt><%= f.label :mfg_plant %></dt>
        <dd><%= f.select(:mfg_plant, {"Phoenix" => "Phoenix", "Atlanta" => "Atlanta"}) %></dd>
        <dt><%= f.label :status %></dt>
        <dd><%= f.select :status, options_for_select(Job::STATUS_OPTIONS.map{|v| [v,v]}, @job.status) -%></dd>
        <dt><%= f.label :due_date %></dt>
        <dd><%= f.text_field :due_date %></dd>
        <dt><%= f.label :ship_date %></dt>
        <dd><%= f.text_field :ship_date %></dd>
        <dt><%= f.label :ship_method %></dt>
        <dd><%= f.select :ship_method, options_for_select(Job::SHIPMENT_OPTIONS.map{|v| [v,v]}, @job.ship_method) -%></dd>
        <dt><%= f.label :tracking_number %></dt>
        <dd><%= f.text_field :tracking_number %></dd>
      <% end %>
      <% if can? :manage, Job %>
        <dt><%= f.label :special_instructions %></dt>
        <dd><%= f.text_area :comment %></dd>
        <dt><%= f.label :notes %></dt>
        <dd><%= f.text_area :notes %></dd>
      <% else %>
        <dt><%= f.label :special_instructions %></dt>
        <dd><%= @job.comment %></dd>
      <% end %>
    </dl>
  </div>

  <div class="form_actions">
    <%= f.submit "Update #{Job.model_name.human}" %>
  </div>
<% end %>
