<script type="text/javascript">
jQuery(function($) {
  // when the #search field changes
  $("#job_franchisee_id").change(function() {
    // make a POST call and replace the content
    var franchisee_id = $("#job_franchisee_id option:selected").val();
    $.get("/franchisees/"+franchisee_id+"/addresses", function(data) {
      $("#job_shipping_address_id option").remove()
      for (var id in data) {
        $("#job_shipping_address_id").append("<option value=\""+id+"\">"+data[id]+"</option>")
      }
    }, "json");
  });
})
</script>

<%= form_for @job, :html => { :multipart => true } do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :franchisee %><br />
    <%= collection_select(:job, :franchisee_id, @franchisees, :id, :franchise_name) %>
  </div>
  <div class="field">
    <%= f.label :shipping_address %><br/>
    <%= collection_select(:job, :shipping_address_id, @addresses, :id, :single_line) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :job_number %><br />
    <%= f.text_field :job_number %>
  </div>

  <div class="field">
    <%= f.label :dvinci_xml %><br />
    <%= f.file_field :dvinci_xml %>
  </div>

  <div class="field">
    <%= f.label :mfg_plant %><br />
    <%= f.select(:mfg_plant, {"Phoenix" => "Phoenix", "Atlanta" => "Atlanta"}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
