<h1>Editing job <%= @job.job_number %></h1>

<%= render 'form' %>

<% content_for :local_nav do %>
  <%= link_to 'Show', job_path(@job) %> |
  <% if can? :manage, job_path(@job) %>
    <%= link_to 'Cutrite', cutrite_job_path(@job) %>
  <% end %>
  <%= link_to 'List', jobs_path %>
<% end %>
