<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.6.custom.min.js' %>
  <script type="text/javascript">
    jQuery(function($) {
      ajax_date($(".job_date").hover(editIn, editOut));
      $(".job_status").change(post_this_update);
    });
  </script>
<% end %>

<h2>Job List</h2>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Job Number</th>
    <th>Job Name</th>
    <th>Due Date</th>
    <th>Ship Date</th>
    <th>Status</th>
    <th>Special Instructions</th>
    <th>Franchise Name</th>
    <th>Credit Status</th>
    <th colspan="3">Actions</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.job_number, job %></td>
      <td><%= job.name %></td>
      <td><span class="job_date" id="job[<%=job.id%>][due_date]"><%= job.due_date %></span></td>
      <td><span class="job_date" id="job[<%=job.id%>][ship_date]"><%= job.ship_date %></span></td>
      <td><%= select_tag("job[#{job.id}][status]", options_for_select(Job::STATUS_OPTIONS, job.status), :class => 'job_status') -%></td>
      <td><%= job.comment %></td>
      <td><%= job.franchisee.franchise_name %></td>
      <td><span style="color: <%= job.franchisee.credit_status %>"><%= job.franchisee.credit_status %></span></td>
      <td><%= link_to 'Cutrite', cutrite_job_path(job) %></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<% content_for :local_nav do %>
  <%= link_to 'New Job', new_job_path %>
<% end %>
