<% content_for :head do %>
  <script type="text/javascript">
    jQuery(function($) {
      ajax_date($(".job_date").hover(editIn, editOut));
      $(".job_status").change(post_this_update);
    });
  </script>
<% end %>

<h2><%= Job.model_name.human.pluralize %></h2>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%=Franchisee.model_name.human%> Name</th>
    <%= render :partial => 'job_cols_headers' %>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.franchisee.franchise_name %></td>
      <%= render :partial => 'job_cols', :locals => {:job => job} %>
    </tr>
  <% end %>
</table>

<%= will_paginate @jobs unless @jobs.empty? %>

<% content_for :local_nav do %>
  <% if can? :create, Job %>
    <%= link_to "New #{Job.model_name.human}", new_job_path %>
  <% end %>
<% end %>
