<% content_for :head do %>
  <%= javascript_include_tag 'jquery.validate.min.js' %>
  <script type="text/javascript">
    jQuery(function($) {
      $("#job_submit").click(function(ev) {
        return $("#new_job").validate();
      });
    });
  </script>
<% end %>

<%= render 'form_js' %>

<h1>New job</h1>

<%= form_for @job, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form_errors' %>

  <div class="form_fields">
    <dl>
      <dt><%= f.label :franchisee %></dt>
      <dd><%= collection_select(:job, :franchisee_id, @franchisees, :id, :franchise_name) %></dd>
      <dt><%= f.label :shipping_address %></dt>
      <dd><%= collection_select(:job, :shipping_address_id, @addresses, :id, :single_line) %></dd>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name, {:class => 'required', :minlength => '2'} %></dd>
      <dt><%= f.label :dvinci_xml %></dt>
      <dd><%= f.file_field :dvinci_xml %></dd>
      <dt><%= f.label :special_instructions %></dt>
      <dd><%= f.text_area :comment %></dd>
    </dl>
  </div>

  <div class="actions">
    <%= f.submit 'Upload Order'%>
  </div>
<% end %>

<% content_for :local_nav do %>
  <%= link_to 'Back', jobs_path %>
<% end %>
