<script type="text/javascript">
jQuery(function($) {
  // when the #search field changes
  $("#job_status").change(function() {
    // make a POST call and replace the content
    var status = $("#job_status").val();
    $.post("/jobs/<%=  @job.id -%>", { '_method': 'PUT', 'job[status]': status}, function(data) {
      $("#notice").html("Job status updated: "+data['updated'])
    }, "json");
  });
})
</script>

<p id="notice"><%= notice %></p>

<dl class="job_attributes">
  <dt>Franchisee</dt>
  <dd><%= @job.franchisee.franchise_name -%> (Credit status: <span style="color: <%= @job.franchisee.credit_status -%>"><%= @job.franchisee.credit_status -%></span>) </dd>

  <dt>Job Number</dt>
  <dd><%= @job.job_number -%></dd>

  <dt>Job Name</dt>
  <dd><%= @job.name -%></dd>

  <dt>Status</dt>
  <dd><%= select(:job, :status, Job::STATUS_OPTIONS, {:id => 'job_status'}) -%></dd>

  <dt>MFG Plant</dt>
  <dd><%= @job.mfg_plant -%></dd>

  <dt>Shipping Address</dt>
  <dd><%= @job.ship_to && @job.ship_to.single_line -%></dd>
</dl>

<table>
  <tr>
    <th>Item Name</th>
    <th>Color</th>
    <th>Quantity</th>
    <th>Width</th>
    <th>Height</th>
    <th>Depth</th>
    <th>Unit Price</th>
    <th>Total</th>
    <th>Special Instructions</th>
  </tr>
  <% @job.job_items.order('items.purchasing', 'items.name').all.each do |job_item| %>
    <tr>
      <td><%= (job_item.item ? job_item.item.name : " #{job_item.item_attr('Description')} (#{job_item.ingest_id})") %></td>
      <td><%= job_item.item_attr('Cabinet Color') %></td>
      <td><%= job_item.quantity.to_i %></td>
      <td><%= job_item.item_attr('Cut Width') %></td>
      <td><%= job_item.item_attr('Cut Height') %></td>
      <td><%= job_item.item_attr('Cut Depth') %></td>
      <td><%= "$%.2f" % job_item.unit_price.to_f %></td>
      <td><%= "$%.2f" % (job_item.unit_price.to_f * job_item.quantity) %></td>
      <td><%= job_item.comment %></td>
    </tr>
	<% end %>
</table>


<%= link_to 'Cutrite', cutrite_job_path(@job) %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
