<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.6.custom.min.js' %>
  <script type="text/javascript">
    jQuery(function($) {
      ajax_date($(".job_date").hover(editIn, editOut));
      $(".job_status").change(post_this_update);
    })
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<dl class="job_attributes">
  <dt>Franchisee</dt>
  <dd><%= @job.franchisee.franchise_name -%> (Credit status: <span style="color: <%= @job.franchisee.credit_status -%>"><%= @job.franchisee.credit_status -%></span>) </dd>

  <dt>Job Number</dt>
  <dd><%= @job.job_number -%></dd>

  <dt>Job Name</dt>
  <dd><%= @job.name -%></dd>

  <dt>Status</dt>
  <dd><%= select_tag("job[#{@job.id}][status]", options_for_select(Job::STATUS_OPTIONS, @job.status), :class => 'job_status') -%></dd>

  <dt>Due Date</dt>
  <dd><span class="job_date" id="job[<%=@job.id%>][due_date]"><%= @job.due_date %></span></dd>

  <dt>Ship Date</dt>
  <dd><span class="job_date" id="job[<%=@job.id%>][ship_date]"><%= @job.ship_date %></span></dd>

  <dt>MFG Plant</dt>
  <dd><%= @job.mfg_plant -%></dd>

  <dt>Shipping Address</dt>
  <dd><%= @job.ship_to && @job.ship_to.single_line -%></dd>

  <dt>Items</dt>
  <dd>
    <table>
      <tr>
        <th>Item Name</th>
        <th>Purchase Part ID</th>
        <th>Color</th>
        <th>Quantity</th>
        <th>Width</th>
        <th>Height</th>
        <th>Depth</th>
        <th>Unit Price</th>
        <th>Total</th>
        <th>Special Instructions</th>
      </tr>
      <% @job.job_items.order('items.purchasing', 'items.name').all.each_with_index do |job_item, i| %>
        <tr class="<%= i % 2 == 0 ? "tr-dark" : "tr-light" -%>">
          <td><%= job_item.item ? job_item.item.name : " #{job_item.item_attr('Description')} (#{job_item.ingest_id})" %></td>
          <td><%= job_item.item ? job_item.item.purchase_part_id : nil %></td>
          <td><%= job_item.item_attr('Cabinet Color') %></td>
          <td><%= job_item.quantity.to_i %></td>
          <td><%= job_item.item_attr('Cut Width') %></td>
          <td><%= job_item.item_attr('Cut Height') %></td>
          <td><%= job_item.item_attr('Cut Depth') %></td>
          <td><%= "$%.2f" % job_item.unit_price.to_f %></td>
          <td><%= "$%.2f" % (job_item.unit_price.to_f * job_item.quantity) %></td>
          <td><%= job_item.comment %></td>
        </tr>
      <% end %>
    </table>
  </dd>
</dl>

<% content_for :local_nav do %>
  <%= link_to 'Cutrite', cutrite_job_path(@job) %> |
  <%= link_to 'Edit', edit_job_path(@job) %> |
  <%= link_to 'Back', jobs_path %>
<% end %>
