<p id="notice"><%= notice %></p>


<dl class="job_attributes">
  <dt>Franchisee</dt>
  <dd><%= @job.franchisee.franchise_name -%></dd>

  <dt>Job Number</dt>
  <dd><%= @job.job_number -%></dd>

  <dt>Job Name</dt>
  <dd><%= @job.name -%></dd>

  <dt>Status</dt>
  <dd><%= @job.status -%></dd>

  <dt>MFG Plant</dt>
  <dd><%= @job.mfg_plant -%></dd>

  <dt>Shipping Address</dt>
  <dd><%= @job.ship_to && @job.ship_to.single_line -%></dd>
</dl>

<table>
  <tr>
    <th>Item Name</th>
    <th>Color</th>
    <th>Quantity</th>
    <th>Width</th>
    <th>Height</th>
    <th>Depth</th>
    <th>Unit Price</th>
    <th>Total</th>
    <th>Special Instructions</th>
  </tr>
  <% @job.job_items.each do |job_item| %>
    <tr>
      <td><%= (job_item.item ? job_item.item.name : job_item.ingest_id) %></td>
      <td><%= job_item.item_attr('Cabinet Color') %></td>
      <td><%= job_item.quantity.to_i %></td>
      <td><%= job_item.item_attr('Cut Width') %></td>
      <td><%= job_item.item_attr('Cut Height') %></td>
      <td><%= job_item.item_attr('Cut Depth') %></td>
      <td><%= "$%.2f" % job_item.unit_price.to_f %></td>
      <td><%= "$%.2f" % (job_item.unit_price.to_f * job_item.quantity) %></td>
      <td><%= job_item.comment %></td>
    </tr>
	<% end %>
</table>


<%= link_to 'Cutrite', cutrite_job_path(@job) %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
