<p id="notice"><%= notice %></p>


Franchisee: <%= @job.franchisee.franchise_name %><br/>
Job Name: <%= @job.name %><br/>

<table>
	<% @job.job_items.each do |item| %>
	<tr>
		<td><%= item.item && item.item.name %></td>
		<td><%= item.quantity %></td>
		<td><%= item.comment %></td>
		<td><%= item.ingest_id %></td>
		<% item.job_item_attributes.each do |attr| %>
		<td><%= attr.value_str %></td>
		<% end %>
	</tr>
	<% end %>
</table>


<%= link_to 'Cutrite', cutrite_job_path(job) %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
