<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.7.custom.min.js' %>
  <script type="text/javascript">
    jQuery(function($) {
      ajax_date($(".job_date").hover(editIn, editOut));
      $(".job_status").change(post_this_update);
      $(".job_ship_method").change(post_this_update);
    })
  </script>
<% end %>

<dl class="form_fields">
  <div id="header-leftcol">
    <dt><%= label :job, :job_number %></dt>
    <dd><%= @job.job_number -%></dd>

    <dt><%= label :job, :name %></dt>
    <dd><%= @job.name -%></dd>

    <dt><%= label :job, :status %></dt>
    <dd>
      <% if can? :manage, @job %>
        <%= select_tag("job[#{@job.id}][status]", options_for_select(Job::STATUS_OPTIONS.map{|v|[v,v]}, @job.status), :class => 'job_status') -%>
      <% else %>
        <%= @job.status %>
      <% end %>
    </dd>

    <dt><%= label :job, :franchisee %></dt>
    <dd><%= @job.franchisee.franchise_name -%> (Credit status: <span style="color: <%= @job.franchisee.credit_status -%>"><%= @job.franchisee.credit_status -%></span>) </dd>

    <dt><%= label :job, :ship_to %></dt>
    <dd><%= @job.ship_to.map{|a| a.single_line}.orSome('') -%></dd>

    <dt><%= label :job, :comment %></dt>
    <dd><%= @job.comment -%></dd>

    <% if can? :manage, Job %>
      <dt><%= label :job, :notes %></dt>
      <dd><%= @job.notes -%></dd>
    <% end %>

    <dt><%= label :job, :total %></dt>
    <dd>
      <%= "$%.2f" % @job.total -%><br/>
      <% if @job.placement_date.nil? %><%= button_to 'Place Order', place_order_job_path(@job), :confirm => 'Are you sure you wish to place this order?' %><% end %>
    </dd>

  </div>

  <div id="header-rightcol">
    <dt><%= label :job, :created_at %></dt>
    <dd><%= @job.created_at %></dd>

    <dt><%= label :job, :placement_date %></dt>
    <dd><%= @job.placement_date %></dd>
    
    <dt><%= label :job, :due_date %></dt>
    <% if can? :manage, @job %>
      <dd><span class="job_date" id="job[<%=@job.id%>][due_date]"><%= @job.due_date %></span></dd>
    <% else %>
      <dd><%= @job.due_date %></dd>
    <% end %>

    <dt><%= label :job, :mfg_plant %></dt>
    <dd><%= @job.mfg_plant -%></dd>

    <dt><%= label :job, :ship_method %></dt>
    <dd>
      <% if can? :manage, @job %>
        <%= select_tag("job[#{@job.id}][ship_method]", options_for_select(Job::SHIPMENT_OPTIONS.map{|v|[v,v]}, @job.ship_method), :class => 'job_ship_method') -%>
      <% else %>
        <%= @job.ship_method %>
      <% end %>
    </dd>

    <dt><%= label :job, :ship_date %></dt>
    <% if can? :manage, @job %>
      <dd><span class="job_date" id="job[<%=@job.id%>][ship_date]"><%= @job.ship_date %></span></dd>
    <% else %>
      <dd><%= @job.ship_date %></dd>
    <% end %>

    <dt><%= label :job, :tracking_number %></dt>
    <dd><%= @job.tracking_number -%></dd>
  </div>

  <dt>Items</dt>
  <dd><%= render :partial => 'items_table', :locals => {:job_items => @job.job_items.order('tracking_id')} %></dd>
</dl>

<% content_for :local_nav do %>
  <% if can? :update, @job %>
    <%= link_to t(:edit), edit_job_path(@job) %> |
  <% end %>
  <%= link_to t(:quote), quote_job_path(@job) %> |
  <% if can? :manage, @job %>
    <%= link_to t(:cutrite), cutrite_job_path(@job) %> |
  <% end %>
  <%= link_to t(:list), jobs_path %>
<% end %>

<% content_for :head do %>
    <style type="text/css">
      #header-leftcol, #header-rightcol {float: left; width: 50%;}
    </style>
<% end %>
