<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.7.custom.min.js' %>
  <script type="text/javascript">
    jQuery(function($) {
      ajax_date($(".job_date").hover(editIn, editOut));
      $(".job_status").change(post_this_update);
    })
  </script>
<% end %>

<dl class="form_fields">
  <dt>Job Number</dt>
  <dd><%= @job.job_number -%></dd>

  <dt>Job Name</dt>
  <dd><%= @job.name -%></dd>

  <dt>Status</dt>
  <dd>
    <% if can? :manage_dates, @job %>
      <%= select_tag("job[#{@job.id}][status]", options_for_select(Job::STATUS_OPTIONS, @job.status), :class => 'job_status') -%>
    <% else %>
      <%= @job.status %>
    <% end %>
  </dd>

  <dt>Creation Date</dt>
  <dd><%= @job.created_at %></dd>

  <dt>Placement Date</dt>
  <dd><%= @job.placement_date %></dd>

  <dt>Due Date</dt>
  <% if can? :manage_dates, @job %>
    <dd><span class="job_date" id="job[<%=@job.id%>][due_date]"><%= @job.due_date %></span></dd>
  <% else %>
    <dd><%= @job.due_date %></dd>
  <% end %>

  <dt>Ship Date</dt>
  <% if can? :manage_dates, @job %>
    <dd><span class="job_date" id="job[<%=@job.id%>][ship_date]"><%= @job.ship_date %></span></dd>
  <% else %>
    <dd><%= @job.ship_date %></dd>
  <% end %>

  <dt>MFG Plant</dt>
  <dd><%= @job.mfg_plant -%></dd>
  <dt>Franchisee</dt>
  <dd><%= @job.franchisee.franchise_name -%> (Credit status: <span style="color: <%= @job.franchisee.credit_status -%>"><%= @job.franchisee.credit_status -%></span>) </dd>

  <dt>Shipping Address</dt>
  <dd><%= @job.ship_to && @job.ship_to.single_line -%></dd>

  <dt>Special Instructions</dt>
  <dd><%= @job.comment -%></dd>

  <dt>Job Total</dt>
  <dd>
    <%= "$%.2f" % @job.total -%><br/>
    <% if @job.placement_date.nil? %><%= link_to 'Place Order', place_order_job_path(@job), :confirm => 'Are you sure you wish to place this order?' %><% end %>
  </dd>

  <dt>Items</dt>
  <dd><%= render :partial => 'items_table', :locals => {:job_items => @job.job_items.order('tracking_id')} %></dd>
</dl>

<% content_for :local_nav do %>
  <%= link_to 'Edit', edit_job_path(@job) %> |
  <%= link_to 'Quote', quote_job_path(@job) %> |
  <% if can? :admin_job, @job %>
    <%= link_to 'Cutrite', cutrite_job_path(@job) %> |
  <% end %>
  <%= link_to 'List', jobs_path %>
<% end %>
