<%= form_for(@franchisee) do |f| %>
  <% if @franchisee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@franchisee.errors.count, "error") %> prohibited this franchisee from being saved:</h2>

      <ul>
      <% @franchisee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_fields">
    <dl>
      <dt><%= f.label :franchise_name %></dt>
      <dd><%= f.text_field :franchise_name %></dd>
      <dt><%= f.label :phone %></dt>
      <dd><%= f.text_field :phone %></dd>
      <dt><%= f.label :fax %></dt>
      <dd><%= f.text_field :fax %></dd>
      <dt><%= f.label :website %></dt>
      <dd><%= f.text_field :website %></dd>
      <dt><%= f.label :credit_status %></dt>
      <dd><%= f.select(:credit_status, [["Green", "Green"], ["Yellow", "Yellow"], ["Red", "Red"]]) %></dd>
    </dl>
  </div>

  <div class="form_actions">
    <%= f.submit %>
  </div>
<% end %>
