<p id="notice"><%= notice %></p>

<div class="form_fields">
  <dl>
    <dt><%= label :franchisee, :franchise_name %></dt>
    <dd><%= @franchisee.franchise_name %></dd>
    <% Option.new(@franchisee.primary_contact).each do |contact| %>
      <dt><%= label :franchisee, :primary_contact %></dt>
      <dd><%= contact.user.name %></dd>
      <dt><%= label :franchisee, :contact_email %></dt>
      <dd><%= contact.user.email %></dd>
    <% end %>
    <dt><%= label :franchisee, :users %></dt>
    <dd>
      <ul>
        <% @franchisee.users.select{|u| u.id != @franchisee.primary_contact.try(:user).try(:id)}.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      <ul>
    </dd>
    <dt><%= label :franchisee, :phone %></dt>
    <dd><%= @franchisee.phone %></dd>
    <dt><%= label :franchisee, :fax %></dt>
    <dd><%= @franchisee.fax %></dd>
    <dt><%= label :franchisee, :website %></dt>
    <dd><%= @franchisee.website %></dd>
    <dt><%= label :franchisee, :credit_status %></dt>
    <dd><span style="color: <%= @franchisee.credit_status.try(:downcase) %>"><%= @franchisee.credit_status %></span></dd>
    <dt><%= label :franchisee, :notes %></dt>
    <dd><%= @franchisee.notes %></dd>
    <dt><%= label :franchisee, :addresses %></dt>
    <dd><%= render :partial => 'addresses', :locals => {:mode => :show} %></dd>
    <dt><%= label :franchisee, :jobs %></dt>
    <dd>
      <table>
        <tr><%= render :partial => 'jobs/job_cols_headers' %></tr>
        <% @franchisee.jobs.each do |job| %>
          <tr><%= render :partial => 'jobs/job_cols', :locals => {:job => job} %></tr>
        <% end %>
      </table>
    </dd>
  </dl>
</div>


<% content_for :local_nav do %>
  <% if can? :update, @franchisee %>
    <%= link_to 'Edit', edit_franchisee_path(@franchisee) %> |
  <% end %>
  <%= link_to 'List', franchisees_path %>
<% end %>
