<p id="notice"><%= notice %></p>

<div id="property_details">
  <dl>
    <dt>Property Name:</dt>
    <dd><%= @property.name %></dd>
    <dt>Family:</dt>
    <dd><%= @property.family %></dd>
    <dt>Values:</dt>
    <dd> 
      <table id="property_values">
        <tr>
          <th>Value Name</th>
          <% @property.value_structure.each do |name, type| %>
            <th><%= name.to_s.titlecase %></th>
          <% end %>
        </tr>
        <% @property.property_values.each do |v| %>
          <tr>
            <td><%= v.name %></td>
            <% @property.value_structure.each do |name, type| %>
              <td><%= v.field_values[name][:value] %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </dd>
  </dl>
</div>

<%= content_for :local_nav do %>
  <%= link_to 'Edit', edit_property_path(@property) %> |
  <%= link_to 'Back', properties_path %>
<% end %>
