<p id="notice"><%= notice %></p>

<div id="property_details">
  <dl>
    <dt>Property Name:</dt>
    <dd><%= @property.name %></dd>
    <dt>Family:</dt>
    <dd><%= @property.family %></dd>
    <dt>Values:</dt>
    <dd id="property_values"> 
      <% @property.property_values.each do |v| %>
        <dl class="property_value">
          <dt>Value Name:</dt>
          <dd><%= v.name %></dd>
          <% v.field_values.each do |name, details| %>
            <dt><%= name.to_s.titlecase %>:</dt>
            <dd><%= details[:value] %></dd><br><br>
          <% end %><br><br>
        </dl>
        <hr/>
      <% end %>
    </dd>
  </dl>
</div>

<%= content_for :local_nav do %>
  <%= link_to 'Edit', edit_property_path(@property) %> |
  <%= link_to 'Back', properties_path %>
<% end %>
