<p id="notice"><%= notice %></p>

<dl>
  <dt>Name:</dt>
  <dd><%= @production_batch.name %></dd>
  <dt>Batch no:</dt>
  <dd><%= @production_batch.batch_no %></dd>
  <dt>Mfg plant:</dt>
  <dd><%= @production_batch.mfg_plant %></dd>
  <dt>Description:</dt>
  <dd><%= @production_batch.description %></dd>
  <dt>Closing date:</dt>
  <dd><%= @production_batch.closing_date %></dd>
  <dt>Job Items</dt>
  <dd><%= render :partial => 'jobs/items_table', :locals => {
            :show_job_so => true,
            :job_items => @production_batch.job_items.select{|i| i.purchasing_type?('Manufactured')}.sort {|a, b|
              Some.new((a.job.job_number || a.job.name) <=> (b.job.job_number || b.job.name)).filter{|x| x != 0}.orSome(a.tracking_id <=> b.tracking_id)
            }
          } %></dd>
</dl>

<%= content_for :local_nav do %>
  <%= link_to 'Edit', edit_production_batch_path(@production_batch) %> |
  <%= link_to 'Back', production_batches_path %>
<% end %>
