<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_fields">
    <dl>
      <dt><%= f.label :address1 %></dt>
      <dd><%= f.text_field :address1 %></dd>
      <dt><%= f.label :address2 %></dt>
      <dd><%= f.text_field :address2 %></dd>
      <dt><%= f.label :city %></dt>
      <dd><%= f.text_field :city %></dd>
      <dt><%= f.label :state %></dt>
      <dd><%= f.text_field :state %></dd>
      <dt><%= f.label :postal_code %></dt>
      <dd><%= f.text_field :postal_code %></dd>
    </dl>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
