<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.7.custom.min.js' %>
  <script type="text/javascript">
    jQuery(function($) {
      $(".component_delete_link").click(delete_clicked(".item_component_row"));
    });
  </script> 
<% end %>
        
<table class="item_components" id="<%= id %>">
  <tr>
    <th>Name</th>
    <th>Association</th>
    <th>Type</th>
    <th>Quantity</th>
    <th>Properties</th>
  </tr>
  <% item_components.each_with_index do |comp, i| %>
    <tr class="item_component_row">
      <td>
        <%= link_to comp.component.name, item_path(comp.component) %> 
        <%= link_to '(X)', item_component_path(comp), :method => :delete, :class => 'component_delete_link' %>
      </td>
      <td><%= link_to comp.class.to_s.demodulize, edit_item_component_path(comp) %></td>
      <td><%= comp.component.class.to_s.demodulize %></td>
      <td><%= comp.quantity %></td>
      <td>
        <%# unless Property.descriptors(comp.class).empty? %>
          <%= render :partial => 'properties', 
                     :locals => {
                       :id => 'component_relationship_properties', 
                       :properties => comp.item_component_properties,
                       :resource_path => lambda {|icp| item_component_property_path(icp)}
                     } %>
          <span class="add_component_property" style="display:none">(+)</span>
        <%# end %>
      </td>
    </tr>
  <% end %>
</table>

