<table class="item_components" id="<%= id %>">
  <tr>
    <th>Name</th>
    <th>Association</th>
    <th>Type</th>
    <th>Quantity</th>
  </tr>
  <% item_components.each_with_index do |comp, i| %>
    <tr class="item_component_row">
      <td>
        <%= link_to comp.component.name, item_path(comp.component) %> 
        <%= link_to '(X)', item_component_path(comp), :method => :delete, :class => 'component_delete_link' %>
      </td>
      <td><%= link_to comp.class.to_s.demodulize, edit_item_component_path(comp) %></td>
      <td><%= comp.component.class.to_s.demodulize %></td>
      <td><%= comp.quantity %></td>
    </tr>
    <tr>
      <td colspan="4">
        <%= render :partial => 'properties', 
                   :locals => {
                     :id => 'component_relationship_properties', 
                     :properties => comp.item_component_properties,
                     :resource_path => lambda {|icp| item_component_property_path(icp)}
                   } %>
        <span class="add_component_property" style="display:none">(+)</span>
      </td>
    </tr>
  <% end %>
</table>

