<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_fields">
    <dl>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>
      <dt><%= f.label :description %></dt>
      <dd><%= f.text_area :description %></dd>
      <dt><%= f.label :sku %></dt>
      <dd><%= f.text_field :sku %></dd>
      <dt><%= f.label :dvinci_id %></dt>
      <dd><%= f.text_field :dvinci_id %></dd>
      <dt><%= f.label :cutrite_id %></dt>
      <dd><%= f.text_field :cutrite_id %></dd>
      <dt><%= f.label :purchasing %></dt>
      <dd><%= f.select(:purchasing, {"Manufactured" => "Manufactured", "Purchased" => "Purchased", "Inventory" => "Inventory"}) %></dd>
      <dt><%= f.label :purchase_part_id %></dt>
      <dd><%= f.text_field :purchase_part_id %></dd>
      <dt>Attributes</dt>
      <dd>
        <table class="item_attributes">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Values</th>
          </tr>
          <% @item.item_attrs.order(:name).each_with_index do |a, i| %>
          <tr class="<%= i % 2 == 0 ? "tr-light" : "tr-dark" -%>">
            <td><%= a.name %></td>
            <td><%= a.value_type %></td>
            <td>
              <dl>
                <% @item.item_attr_options.find_all_by_item_attr_id(a.id).each do |opt| %>
                  <dt><%= opt.value_str %></dt>
                  <dd><%= opt.dvinci_id %></dd>
                <% end %>
              </dl>
            </td>
          </tr>
          <% end %>
        </table>
      </dd>
    </dl>
  </div>

  <div class="form_actions">
    <%= f.submit %>
  </div>
<% end %>
