<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.6.custom.min.js' %>
  <%= javascript_include_tag 'jqModal.js' %>
  <style>
    #add_property_form {
        display: none;
        
        position: fixed;
        top: 17%;
        left: 50%;
        
        margin-left: -300px;
        width: 600px;
        
        background-color: #EEE;
        color: #333;
        border: 1px solid black;
        padding: 12px;
    }
  </style>
  <script type="text/javascript">
    jQuery(function($) {
      <% if descriptors(@item).empty? %>
      $("#add_property").hide();
      <% end %>
      $("#add_property").hover(editIn, editOut);
      $("#add_property_form").jqm({trigger: "#add_property"});
      $("#add_property_cancel").click(function() { $("#add_property_form").jqmHide(); });
      $("#add_property_submit").click(
        function() { 
          var req = request_data();
          $.post("/items/<%=@item.id%>/add_"+req.type+"_property", req.data, update_notice, "json");
          $("#add_property_form").jqmHide(); 
        }
      );


      $("#add_component").hover(editIn, editOut).click(add_component(<%= @item.id -%>));
      $(".add_item_component_property").hover(editIn, editOut);
    });
  </script>
<% end %>

<%= form_for(@item, :url => item_path(@item)) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_fields">
    <dl>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>
      <dt><%= f.label :type %></dt>
      <dd><%= f.select(:type, Item.item_types.map{|t| t.to_s}) %></dd>
      <dt><%= f.label :description %></dt>
      <dd><%= f.text_area :description %></dd>
      <dt><%= f.label :sku %></dt>
      <dd><%= f.text_field :sku %></dd>
      <dt><%= f.label :dvinci_id %></dt>
      <dd><%= f.text_field :dvinci_id %></dd>
      <dt><%= f.label :cutrite_id %></dt>
      <dd><%= f.text_field :cutrite_id %></dd>
      <dt><%= f.label :purchasing %></dt>
      <dd><%= f.select(:purchasing, {"Manufactured" => "Manufactured", "Purchased" => "Purchased", "Inventory" => "Inventory"}) %></dd>
      <dt><%= f.label :purchase_part_id %></dt>
      <dd><%= f.text_field :purchase_part_id %></dd>
      <dt>Properties <span id="add_property">(+)</span></dt>
      <dd><%= render :partial => 'properties', 
                     :locals => {:id => 'item_properties', :properties => @item.item_properties} %></dd>
      <dt>Components <span id="add_component">(+)</span></dt>
      <dd><%= render :partial => 'components', 
                     :locals => {:id => 'item_components', :components => @item.components} %></dd>
    </dl>
  </div>

  <div class="form_actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render :partial => 'add_property', :locals => {:item => @item, :form_css_id => 'add_property_form'} %>
