        <table class="properties" id="<%= id -%>">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Qualifier</th>
            <th>Values</th>
          </tr>
          <% properties.each_with_index do |prop, i| %>
            <tr class="<%= i % 2 == 0 ? "tr-light" : "tr-dark" -%>">
              <td><%= prop.property.name %> <span class="delete_prop_assoc" onclick="">X</span></td>
              <td><%= prop.property.family.titlecase %></td>
              <td><%= prop.qualifier %></td>
              <td>
                <ul>
                  <% prop.property.property_values.each do |opt| %>
                    <li><%= opt.name %> (<%= opt.dvinci_id %>)</dt>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </table>

