<% content_for :head do %>
  <script type="text/javascript">
    jQuery(function($) {
      var item_filters_submit = function(ev) {
        $("#item_filters").submit();
      };

      $("#item_type_filter").change(item_filters_submit);
      $("#item_category_filter").change(item_filters_submit);
      $("#item_search").change(item_filters_submit);
      $("#item_in_catalog").change(item_filters_submit);
      $(".item_drop_ship").change(function(ev) {
        $(ev.target).val($(ev.target).is(':checked') ? "drop_ship" : "standard");
        post_update($(ev.target), function() {});
      });
      
      $(".item_in_catalog").change(function(ev) {
        $(ev.target).val($(ev.target).is(':checked') ? "true" : "false");
        post_update($(ev.target), function() {});
      });
    });
  </script>
<% end %>

<h2>Item List</h2>

<form id="item_filters">
  <span id="item_filters">
    <strong>Item Type: </strong> 
    <%= select_tag 'type', 
                   options_for_select(item_type_option_values, params[:type]),
                   :id => 'item_type_filter', :include_blank => true %>

    <strong>Item Category: </strong> 
    <%= select_tag 'category', 
                   options_for_select(Item::categories.map{|v| [v.titlecase, v]}, params[:category]),
                   :id => 'item_category_filter', :include_blank => true %>

    <strong>Search: </strong> 
    <input type="text" name="search" id="item_search" value="<%= params[:search] %>"/>
    <strong>Catalog Items Only: </strong> 
    <input type="checkbox" name="in_catalog" id="item_in_catalog"<%= params[:in_catalog].blank? ? '' : ' checked' %>/>
  </span>
</form>

<%= will_paginate @items %>
<table>
  <tr>
    <% if can? :update, Item %><th>Edit</th><% end %>
    <th>Item Name</th>
    <th>Item Type</th>
    <th>D'Vinci</th>
    <th>CutRite</th>
    <th>MPN</th>
    <th>QB</th>
    <th>Price</th>
    <th>Margin</th>
    <th>Comps</th>
    <th>Props</th>
    <th>Drop Ship</th>
    <th>In Catalog</th>
    <% if can? :destroy, Item %><th>Destroy</th><% end %>
  </tr>

<% @items.select{|j| can?(:read, j)}.each do |item| %>
  <tr>
    <% if can? :update, Item %><td><%= link_to 'Edit', edit_item_path(item) %></td><% end %>
    <td><%= link_to item.name, item_path(item) %></td>
    <td><%= item.class.to_s.demodulize %></td>
    <td><%= item.dvinci_id %></td>
    <td><%= item.cutrite_id %></td>
    <td><%= item.sku %></td>
    <td><%= item.purchase_part_id %></td>
    <td><%= item.base_price %></td>
    <td><%= item.margin_factor %></td>
    <td><%= raw ok_tag(item.components_ok?) %></td>
    <td><%= raw ok_tag(item.properties_ok?) %></td>
    <td><%= check_box_tag "item[#{item.id}][ship_by]", "drop_ship", item.ship_by == 'drop_ship', :class => 'item_drop_ship' %></td>
    <td><%= check_box_tag "item[#{item.id}][in_catalog]", "in_catalog", item.in_catalog, :class => 'item_in_catalog' %></td>
    <% if can? :destroy, Item %>
      <td><%= link_to 'Destroy', item_path(item), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @items %>

<% content_for :local_nav do %>
  <%= link_to 'New Item', new_item_path %>
<% end %>
