<h2>Item List</h2>

<table>
  <tr>
    <th>Item Name</th>
    <th>D'Vinci ID</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, item_path(item) %></td>
    <td><%= item.dvinci_id %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item_path(item), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% content_for :local_nav do %>
  <%= link_to 'New Item', new_item_path %>
<% end %>
