<%= content_for :head do %>
  <script type="text/javascript">
    var update_pricing_expr = function() {
      $.get(
        "/items/<%=@item.id%>/pricing_expr", 
        {units: $("#price_expr_units").val(), color:$("#price_expr_color").val()}, 
        function(data) {
          $("#pricing_expression").html(data.expr);
        },
        "json"
      );
    };

    jQuery(function($) {
      $("#price_expr_units").change(update_pricing_expr);
      $("#price_expr_color").change(update_pricing_expr);
      update_pricing_expr();
    });
  </script>
<% end %>
<p id="notice"><%= notice %></p>

<div class="form_fields">
  <dl>
    <dt><%= label :item, :type %></dt>
    <dd><%= @item.class.to_s.demodulize %></dd>
    <dt><%= label :item, :name %></dt>
    <dd><%= @item.name %></dd>
    <dt><%= label :item, :description %></dt>
    <dd><%= @item.description %></dd>
    <dt><%= label :item, :purchasing %></dt>
    <dd><%= @item.purchasing %></dd>
    <dt><%= label :item, :dvinci_id %></dt>
    <dd><%= @item.dvinci_id %></dd>
    <dt><%= label :item, :cutrite_id %></dt>
    <dd><%= @item.cutrite_id %></dd>
    <dt><%= label :item, :vendor_sku %></dt>
    <dd><%= @item.sku %></dd>
    <dt><%= label :item, :qb_item_id %></dt>
    <dd><%= @item.purchase_part_id %></dd>
    <dt><%= label :item, :base_price %></dt>
    <dd><%= @item.base_price %></dd>
    <dt><%= label :item, :pricing_expression %></dt>
    <dd>
      <%= select_tag("price_expr_units", options_for_select(Properties::LinearConversions::UNITS.map{|u| [u, u]})) %>
      <%= select_tag("price_expr_color", options_for_select(@item.color_opts.map{|color| [color, color]}.flatten.uniq)) %>
      <span id="pricing_expression"></span>
    </dd>
    <dt><%= label :item, :properties %></dt>
    <dd><%= render :partial => 'properties', 
                   :locals => {
                     :id => 'properties_list', :properties => @item.item_properties,
                     :resource_path => lambda {|item_prop| item_property_path(item_prop)}
                   } %></dd>
    <dt><%= label :item, :components %></dt>
    <dd><%= render :partial => 'components', 
                   :locals => {:id => 'item_components', :item_components => @item.item_components} %></dd>
  </dl>
</div>

<% content_for :local_nav do %>
  <%= link_to 'New Item', new_item_path %> |
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>
<% end %>
