<% content_for :head do %>
  <%= stylesheet_link_tag :ajax_ui %>
  <%= javascript_include_tag :ajax_ui %>
  <script type="text/javascript">
    jQuery(function($) {
      $(".date_field").datepicker();
    })
  </script>
<% end %>

<form method="GET">
  <dl>
    <dt>Report Dates</dt>
    <dd>
      <%= text_field_tag :start_date, @start_date, :class => 'date_field' %> - 
      <%= text_field_tag :end_date, @end_date, :class => 'date_field' %>
    </dd>
    <dt>Customer</dt>
    <dd><%= select_tag :franchisee_id, options_from_collection_for_select(@franchisees, :id, :franchise_name, @franchisee ? @franchisee.id : nil), :include_blank => true %></dd>
    <dt>&nbsp;</dt>
    <dd><%= submit_tag 'Run Report' %></dd>
    <dt>Totals</dt>
    <dd>
      <table>
        <% @report_data.each do |franchisee, sales_data| %>
          <tr><th colspan="4"><%= franchisee.franchise_name %></th></tr>
          <tr>
            <th>Sales Category</th>
            <th>Manufactured Total</th>
            <th>Buyout Total</th>
            <th>Inventory Total</th>
          </tr>
          <% sales_data.each do |cat, totals| %>
            <tr>
              <td><%= cat.titlecase %></td>
              <td><%= totals[:manufactured] %></td>
              <td><%= totals[:buyout] %></td>
              <td><%= totals[:bulk_inventory] %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </dd>
  <dl>
</form>
